@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("./assets/background_btc.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
     filter: grayscale(2)  brightness(1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.pulsating-bitcoin {
  display: inline-block;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}